@font-face{
    font-family: neutra;
    src: url(../Neutra\ Text\ Book.otf)
}

*{
    padding: 0;
    margin: 0;
}
header{
    position: relative;
}

nav{
    background-color: black;
    display: flex;  
    justify-content: center;
    align-items: center;
    min-height: 100px;
    font-family: Neutra, Arial, sans-serif;
    text-transform: uppercase;
    gap: 20px;
    flex-wrap: wrap;
   




}
nav div a{
    background-color: #d86b33;
    border: 1px solid #d86b33 ;
    padding: 9px 20px;
    margin: 0 6px;



}
nav div a:hover{
    background-color: black;
    color:  #d86b33 ;



}

nav h1{
    color: white;
    font-size:70px ;
    margin-right: 50px;


}

nav a{
    text-decoration: none;
    color: white;

}

nav ul{
    list-style: none;  
    display: flex;
    gap: 20px;
    white-space: nowrap;
    flex-wrap: wrap;
    justify-content: center;


}
nav ul a:hover{
    color: rgb(129, 126, 126);
    border-bottom: #d86b33;
    



}

nav div a, nav ul a{
    font-size: 18px;

}
/* Dropdown */

.dropdown{
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: violet;
    list-style: none;
    left: 0;
    top: 100%;
    
}

.dropdown-content a{
    padding: 20px 8px ;
    display:block;
    opacity: 1;
   
    transition: all .25s ease;
}

.dropdown:hover .dropdown-content{
    display: block;
}

/*hamburger*/
header > label{
    position:fixed;
    right: 10px;
    padding: 25px;


}
.hamburger-icons :before{
transform: translate(-50%, -6px);
}

.hamburger-icons :after{
    transform: translate(-50%, 6px);
    }



#hamburger:checked + label ::before{
transform: rotate(45deg)
}

#hamburger:checked + label ::after{
    transform: rotate(-45deg)
}