:root{
    --main-color: #22333B;
    --secondary-color: silver;
    --text-color: rgb(231, 228, 228);
    --navbar-height: 82px;
    --main-font: 'Yanone Kaffeesatz', sans-serif;

}
body{
    font-family: var(--main-font);
    font-size:20px ;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    padding: 0 1.5rem;
    box-shadow: -2px 5px 5px 0px rgba(0,0,0,0.75);
    z-index: 10;
    position: relative;
}

nav > ul{
    display: flex;
    text-decoration: none;
    justify-content: center;
    list-style: none;
    height: var(--navbar-height);
    gap:32px;
    align-items: center;
    
   
}
a{
    text-decoration: none;
    color: inherit;
}
nav ul >li > a{
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    border-right: 2px ;
    line-height: var(--navbar-height);
    padding: 0 10px;
    transition: all .3s ease-in-out;
    padding: 10px;
    
}
.logo{
    border: 3px solid var(--secondary-color);
    text-align: center;
    line-height: 1.2;
    color: var(--secondary-color);
    padding: 5px 15px;
    position: relative;
    z-index: 2;
   
    
}
.logo::before{
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    background-image: url(../img/Skärmavbild\ 2023-03-02\ kl.\ 13.29.49.png);  
    background-size: cover;
    opacity: 0.2;
     z-index:-1 ;
     height: 100%;
     left: 0;
     top:0;
     
}

.logo:hover h1, .logo:hover h2{
    color: var(--main-color);
}

.logo > a{
    display: block;
    width: 100%;
    height: 100%;
    
    position: absolute;
    left: 0;
    top: 0;
}
.logo:hover::before{
    opacity: 0.9;
}

.logo h1{
    
    font-size: 32px;
}


.logo h2{
    font-style: italic;
    font-size: 18px;
}
button{
    background-color: var(--text-color);
    border:none; 
    text-transform: uppercase;
    font-size: 18px;
    font-family: var(--main-font);
    padding:0;
    border-radius: 18px;
}

button {
    color:black;
    display: inline-block;
    height: 100%;
    padding: 0.2rem 0.4rem;
    border-radius: 18px;
    margin-right: 1rem ;
}


button:hover{
    background-color: var(--secondary-color);
    cursor: pointer;
}
.list li  a:hover{
    border-bottom: 0.005rem solid white;
    transition: all .2s;

}
.dropdown-content{
   position: absolute;
   left: 50%;
   top: 100%;
   display: none;
   flex-direction: column;
   transform: translateX(-50%);
   background-color: red;
}

.dropdown{
   position: relative; 
}
li.dropdown:hover .dropdown-content{
    display: flex;
    background-color: var(--secondary-color);
}






/* Stil för hela formuläret */
.booking-form {
    
    margin: 0 auto;
    padding: 20px;   
    border-radius: 5px;
    
  }
  .uppgifter{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    background-size: cover;
    align-items: center;
    background-image:url(../img/352b3688-efa3-47df-a47b-6a2c1388c8b4.jpeg);
    background-repeat: no-repeat;
    color: #fff;
    text-shadow: #22333B 2px 2px 2px;
    
    
  }
 
 
  
  label{
    margin-top: 15px;
  }
  
  .booking-form input[type="text"],
  .booking-form input[type="email"],
  .booking-form input[type="tel"],
  .booking-form select {
    width: 100%;
    padding: 100px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    
  }
  
  /* Stil för submit-knappen */
  .booking-form input[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
 
  

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10rem;
    background-color: var(--main-color);
    color: var(--secondary-color);
    
}

.last a{
    color: inherit;
}
.last i{
    margin: 0 0.4rem;
}